
<link rel="stylesheet" href="/stylesheets/footer.css">

<footer class="footer bg-dark py-3 mt-auto">

        <span class="text-muted me-3 align-left ms-5" style = "float:left;">&copy; BizzReview 2021</span> 
        <span style = "float:right;"class="text-right me-5">Created by Mike Ruigrok</span>

    
</footer>