<link rel="stylesheet" href="/stylesheets/navbar.css">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/businesses" class="navbar-brand">BizzReview</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav col-4">
                <a class="nav-link" href="/businesses">Businesses</a>
                <a class="nav-link" href="/businesses/new">New business</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(typeof(currentUser) == "undefined") { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                        <a class="nav-link" href="/logout">Logout</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>